# Connecting to Database

In [1]:
#importing 'mysql.connector' as mysql for convenient
import mysql.connector as mysql

In [ ]:
# connecting to the database using 'connect()' method
#it takes 3 required parameters 'host', 'user', 'passwd'

In [2]:
db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "root"
)

That's it now we have connected to the MySQL database.

In [3]:
print(db) # it will print a connection object if everything is fine

<mysql.connector.connection.MySQLConnection object at 0x000001E93A4AA6A0>

# Creating Databases in MYSQL

To create a database in MySQL, we use CREATE DATABASE database_name statement.

In [5]:
## creating an instance of 'cursor' class which is used to execute the 'SQL' statements in 
'Python'
cursor = db.cursor()

In [7]:
## creating a databse called 'Data Science'
## 'execute()' method is used to compile a 'SQL' statement
## below statement is used to create tha 'Data Science' database
cursor.execute("CREATE DATABASE Data_Science")

If the database already exists you will get an error. Make sure that the database does not exist.

See all the databases present in MySQL using the following code.

To see all the databases we use SHOW DATABASES statement.

In [8]:
## executing the statement using 'execute()' method
cursor.execute("SHOW DATABASES")

In [9]:
## 'fetchall()' method fetches all the rows from the last executed statement
databases = cursor.fetchall() ## it returns a list of all databases present

In [10]:
## printing the list of databases
print(databases)

[('information_schema',), ('class',), ('class2',), ('data_science',), ('dstraining',), ('fingertips',), ('hr',), ('mysql',), ('performance_schema',), ('sakila',), ('shalini',), ('sys',), ('world',)]

In [11]:
## showing one by one database
for database in databases:
    print(database)

('information_schema',)
('class',)
('class2',)
('data_science',)
('dstraining',)
('fingertips',)
('hr',)
('mysql',)
('performance_schema',)
('sakila',)
('shalini',)
('sys',)
('world',)

# Creating Tables

Creating tables in the database to store the information. 
Before creating tables, we have to select a database first.

In [22]:
db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "root",
    database = "Data_Science"
)

In [23]:
cursor = db.cursor()

Use the CREATE TABLE table_name to create a table in the selected database.

In [25]:
## creating a table called 'users' in the 'datacamp' database
cursor.execute("CREATE TABLE Training (name VARCHAR(255), user_name VARCHAR(255))")

In [ ]:
We have successfully created the table users in the Data_Science database. 
See all the tables present in the database using the SHOW TABLES statement.

In [26]:
cursor = db.cursor()

In [30]:
## getting all the tables which are present in 'Data_Science' database
cursor.execute("SHOW TABLES")

In [31]:
tables = cursor.fetchall() ## it returns list of tables present in the database

In [32]:
## showing all the tables one by one
for table in tables:
    print(table)

('ds_training',)
('training',)