# Access Database using Python

# Establish Connection btwn Python & MySQLDB

# Integrate Python with backend MYSQL

In [ ]:
# Need a conncetor btwn MYSQL AND PYTHON

# Create Databases

# Show databases

# Fetch Databases

# Create Table

# insert values/records

pip install mysql-connector

# Open database connection

In [74]:
import mysql.connector

In [75]:
mydb= mysql.connector.connect(host="localhost",user="root",passwd="root",database="class")

In [76]:
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x0000023A59067AC8>

#To check if connection has eashtablished or not

In [77]:
if(mydb):
    print("connection succcessful")
else:
    print("connection unsuccessful")

connection succcessful

# prepare a cursor object using cursor() method

method cursor works like a pointer

In [78]:
mycursor=mydb.cursor()

Here all the database has stored in cursor

Show databases

# execute SQL query using execute() method

In [79]:
mycursor.execute("show databases")

to fectch all the databases

In [80]:
for i in mycursor:
    print(i)

('information_schema',)
('class',)
('class2',)
('dstraining',)
('fingertips',)
('hr',)
('mysql',)
('performance_schema',)
('sakila',)
('shalini',)
('sys',)
('world',)

Need to mention database

show table

In [85]:
mycursor.execute("select * from worker")

In [84]:
for i in mycursor:
    print(i)

(1, 'Monika', 'Arora', 100000, datetime.datetime(2014, 2, 20, 9, 0), 'HR', None)
(2, 'Niharika', 'Verma', 80000, datetime.datetime(2014, 6, 11, 9, 0), 'Admin', None)
(3, 'Vishal', 'Singhal', 300000, datetime.datetime(2014, 2, 20, 9, 0), 'HR', None)
(4, 'Amitabh', 'Singh', 500000, datetime.datetime(2014, 2, 20, 9, 0), 'Admin', None)
(5, 'Vivek', 'Bhatt', 500000, datetime.datetime(2014, 6, 11, 9, 0), 'Admin', None)
(6, 'Vipul', 'Diwan', 300000, datetime.datetime(2014, 6, 11, 9, 0), 'Mktng', None)
(7, 'Satish', 'Kumar', 75000, datetime.datetime(2014, 1, 20, 9, 0), 'Mktng', None)
(8, 'Geetika', 'Chauhan', 9000, datetime.datetime(2014, 4, 11, 9, 0), 'Admin', None)

Storing data in another object

In [86]:
result=mycursor.fetchall()

In [87]:
for i in result:
    print(i)

(1, 'Monika', 'Arora', 100000, datetime.datetime(2014, 2, 20, 9, 0), 'HR', None)
(2, 'Niharika', 'Verma', 80000, datetime.datetime(2014, 6, 11, 9, 0), 'Admin', None)
(3, 'Vishal', 'Singhal', 300000, datetime.datetime(2014, 2, 20, 9, 0), 'HR', None)
(4, 'Amitabh', 'Singh', 500000, datetime.datetime(2014, 2, 20, 9, 0), 'Admin', None)
(5, 'Vivek', 'Bhatt', 500000, datetime.datetime(2014, 6, 11, 9, 0), 'Admin', None)
(6, 'Vipul', 'Diwan', 300000, datetime.datetime(2014, 6, 11, 9, 0), 'Mktng', None)
(7, 'Satish', 'Kumar', 75000, datetime.datetime(2014, 1, 20, 9, 0), 'Mktng', None)
(8, 'Geetika', 'Chauhan', 9000, datetime.datetime(2014, 4, 11, 9, 0), 'Admin', None)

# Fetch a single row using fetchone() method

In [94]:
result=mycursor.fetchone()

In [99]:
result=mycursor.fetchone()

In [100]:
print(result)

None

In [96]:
print(result)

None

# disconnect from server

In [101]:
mydb.close()

#Create new database

In [43]:
mycursor.execute("create database DSTraining")

In [44]:
mycursor.execute("show databases")

In [45]:
for i in mycursor:
    print(i)

('information_schema',)
('class',)
('class2',)
('dstraining',)
('fingertips',)
('hr',)
('mysql',)
('performance_schema',)
('sakila',)
('shalini',)
('sys',)
('world',)

mycursor.execute("create database DSTraining")

# Create Table in Database

Once a database connection is established, we are ready to create tables or records into the database tables using execute method of the created cursor.

In [ ]:
mydb= mysql.connector.connect(host="localhost",user="root",passwd="root",database="class")

In [ ]:
mycursor=mydb.cursor()

In [46]:
mycursor.execute("create table trainees(
                 Name varchar(10),
                 Age int(2))")

In [61]:
mycursor.execute("show tables")

In [62]:
for i in mycursor:
    print(i)

('atheletes',)
('bonus',)
('cust',)
('department',)
('employee',)
('evening_session',)
('flight_fare',)
('flight_fare2',)
('flight_table',)
('hr_department',)
('manufacturers',)
('new_table',)
('orders',)
('persons',)
('persons2',)
('product',)
('salespeople',)
('solution_assi_3',)
('studedents',)
('students',)
('test_table',)
('title',)
('trainees',)
('weekend_table',)
('wine_table',)
('worker',)
('worker2',)
('worker3',)
('worker4',)
('worker5',)
('workerclone',)

# Insert values in table

The following example, executes SQL INSERT statement to create a record into trainee table

%s=place holder

In [9]:
sqlform="insert into trainees(Name,Age) values(%s,%s)"

# Creating a tupple

In [11]:
trainees=[("Piyush",20),("Rudresh",20),("Swanand",20),("Tirth",20),]

In [58]:
trainees

[('Piyush', 20), ('Rudresh', 20), ('Swanand', 20), ('Tirth', 20)]

In [6]:
mydb= mysql.connector.connect(host="localhost",user="root",passwd="root",database="class")

In [7]:
mycursor=mydb.cursor()

In [12]:
mycursor.executemany(sqlform, trainees)

In [13]:
mydb.commit()

In [14]:
myresult=mycursor.execute("select * from trainees")

In [65]:
for i in trainees:
    print(i)

('Piyush', 20)
('Rudresh', 20)
('Swanand', 20)
('Tirth', 20)

In [15]:
result=mycursor.fetchone()

In [16]:
print(result)

('Piyush', 20)

In [17]:
result=mycursor.fetchall()

In [18]:
for i in result:
    print(i)

('Rudresh', 20)
('Swanand', 20)
('Tirth', 20)
('Piyush', 20)
('Rudresh', 20)
('Swanand', 20)
('Tirth', 20)